NEXT_PUBLIC_SUPABASE_URL=https://mpcriihahsgzsewpneio.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wY3JpaWhhaHNnenNld3BuZWlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY5ODQ1NDQsImV4cCI6MjEwMjU2MDU0NH0.slqvfPDDXVUR0fkWvdfP1ASv4t6cG1Hgea0vIKIRNZw
DATABASE_URL=postgresql://postgres.mpcriihahsgzsewpneio:optra%4013579WS@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres
